@font-face {
  font-family: "Kumbh Sans bd";
  src: url("../fonts/KumbhSans-Bold.eot");
  src: url("../fonts/KumbhSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/KumbhSans-Bold.woff2") format("woff2"),
    url("../fonts/KumbhSans-Bold.woff") format("woff"),
    url("../fonts/KumbhSans-Bold.ttf") format("truetype"),
    url("../fonts/KumbhSans-Bold.svg#KumbhSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kumbh Sans rg";
  src: url("../fonts/KumbhSans-Regular.eot");
  src: url("../fonts/KumbhSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/KumbhSans-Regular.woff2") format("woff2"),
    url("../fonts/KumbhSans-Regular.woff") format("woff"),
    url("../fonts/KumbhSans-Regular.ttf") format("truetype"),
    url("../fonts/KumbhSans-Regular.svg#KumbhSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
